*{
    margin:0;
    
    box-sizing: border-box;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: lightcyan; */
    font-size: 1.3rem;
}

.container{
    background-color: pink;
    height:100vh;
    width:100vw;
    display:grid;
    /* grid-template-areas: "header header   navbar
                          article article navbar
                          article article navbar
                          footer footer footer"; */
}
.intro{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 40%;
}
.article{
    display: flex;
    flex-direction: column;
}
nav{
    background-color: rgb(239, 152, 251);
}
nav ul a{
   text-decoration: none;
   align-items: center;
   justify-content: space-between;
}
nav a:active{
    color:black;
}
nav ul a:hover{
 background-color: blue;
 color:pink;

}


nav ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10%;
    
}
.footer{
   color: rgb(55, 0, 128);
}
.interest{
    color:  rgb(55, 0, 128);
    display:inline-flexbox;
    padding: 5%;
}
.intro img{
     width:100%;
}
.text{
    flex:1;
    padding: 7%;
}
.img{
    flex:1;
}
.icons{
    display:flex;
    flex-direction: row;
    cursor:pointer;
    gap: 10%;
}
.text h2{
    
    display: inline-block;
    padding: 8%;
}
.intro{
    font-size: rem;
    justify-content: center;
}
.heading{
  color: violet ;
}
button{
    background-color: lightpink;
    color: rgb(55, 0, 128);

}
span{
    color:rgb(55, 0, 128);
    display: inline-block;
}